/*========================================== MASTER STYLESHEET =================================================================== 
	Project : HEALTH TEMPLATES
	Version : 1.0 
	Last Change : 07/09/2018 
	Primary Use : HEALTH TEMPLATES 
=================================================================================================================================*/
/*========================================== LAYOUT ===================================================================
	1.GLOBAL STYLES 
	2.COMMON STYLES 
	3.NAVIGATION 
	4.BUTTON 
	5.READ MORE LINK 
	6.HEADER
	7.SERVICES
	8.ABOUT US
	9.APPOINTMENT FORM
	10.OUR FEATURES
	11.WHAT WE DO
	12.OUR GALLERY
	13.CTA
	14.WHY CHOOSE US
	15.OUR TEAM
	16.TESTIMONIAL
	17.NEWS
	18.OUR PRICING
	19.FOOTER
	20.MEDIA QUERIES
 =================================================================================================================================*/
/*========================================== COLOR CODES ========================================================================= 
	Background :#ffffff [white] 
	Main Heading Color :#333333 [black] 
	Content Color :#666666 [black] 
	ThemeColor: #33a9ee [light blue]
=================================================================================================================================*/
/*========================================== TYPOGRAPHY ========================================================================= 
	
	Heading:font-family: 'Raleway', sans-serif;
	Body :font-family: 'Open Sans', sans-serif , Arial , Vedana , Trebuchet MS;
 =================================================================================================================================*/
/*========================================== 1.GLOBAL CSS START ===========================================*/

/*== Content Font family ===*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*== Heading Font family ===*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
	background: #ffffff;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.btn-primary {
	color: #fff;
	background-color: #33a9ee !important;
	border-color: #33a9ee !important;
}

a:hover,
a {
	color: inherit;
	outline: none !important;
	text-decoration: none !important;
}

h1,
h2,
h3,
h5,
p {
	margin: 0;
}

/* Spa */
.heading-ff-4 h1,
.heading-ff-4 h2,
.heading-ff-4 h3,
.heading-ff-4 h5,
.heading-ff-2 h2 {
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

h1 {
	font-size: 50px;
	line-height: 55px;
}

h2 {
	font-size: 35px;
	line-height: 45px;
}

h3 {
	font-size: 28px;
	line-height: 38px;
}

h5 {
	font-size: 18px;
	line-height: 26px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}


.simple-menu-1.navbar-dark .navbar-nav .active>.nav-link,
.simple-menu-1.navbar-dark .navbar-nav .nav-link.active,
.simple-menu-1.navbar-dark .navbar-nav .nav-link.show,
.simple-menu-1.navbar-dark .navbar-nav .show>.nav-link,
.simple-menu-2.navbar-dark .navbar-nav .active>.nav-link,
.simple-menu-2.navbar-dark .navbar-nav .nav-link.active,
.simple-menu-2.navbar-dark .navbar-nav .nav-link.show,
.simple-menu-2.navbar-dark .navbar-nav .show>.nav-link,
.simple-menu-3.navbar-dark .navbar-nav .active>.nav-link,
.simple-menu-3.navbar-dark .navbar-nav .nav-link.active,
.simple-menu-3.navbar-dark .navbar-nav .nav-link.show,
.simple-menu-3.navbar-dark .navbar-nav .show>.nav-link,
.simple-menu-4.navbar-dark .navbar-nav .active>.nav-link,
.simple-menu-4.navbar-dark .navbar-nav .nav-link.active,
.simple-menu-4.navbar-dark .navbar-nav .nav-link.show,
.simple-menu-4.navbar-dark .navbar-nav .show>.nav-link,
.simple-menu-5.navbar-dark .navbar-nav .active>.nav-link,
.simple-menu-5.navbar-dark .navbar-nav .nav-link.active,
.simple-menu-5.navbar-dark .navbar-nav .nav-link.show,
.simple-menu-5.navbar-dark .navbar-nav .show>.nav-link {
	color: #33a9ee !important;
}

/*========================================== 1.GLOBAL CSS END ===========================================*/
.owl-carousel {
	display: block !important;
}

.circle-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 3px;
	height: 31px;
	width: 31px;
	background-color: #33a9ee;
	color: #FFF;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
}

.circle-icon:hover {
	color: #FFF;
}

/*========================================== 2.COMMON CSS START ===========================================*/
.section-padding {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-1-bg {
	background-color: #ffffff;
}

.section-2-bg {
	background-color: #f2f2f2;
}

.heading-div-1 {
	padding-bottom: 40px;
}

.content-top-space {
	padding-top: 15px;
}

.content-top-space1 {
	padding-top: 10px;
}

.top-space {
	margin-top: 30px;
}

.top-space10 {
	margin-top: 10px;
}

.bgimage-property {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-ul {
	padding-left: 0;
	margin-bottom: 0;
}

.content-ul li {
	list-style: none;
}

.no-pad {
	padding-left: 0;
	padding-right: 0;
}

.no-margin {
	margin-left: 0;
	margin-right: 0;
}

/* SAFARI CLASS */
.rowsafari {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/* align-items: center; */
}

/*========================================== 2.COMMON CSS END ===========================================*/


/*========================================== 3.NAVIGATION START ===========================================*/

.topbar.navbar {
	padding-top: 0px !important;
}

.navbar-right {
	margin-right: 0;
}

.navbar-default {
	border-radius: 0;
}

.topbar.navbar-default,
.navbar {
	border: none !important;
}

.navbar-nav>li>a {
	text-shadow: none;
}

.topbar.navbar-default {
	background-image: none !important;
	box-shadow: none;
}

.topbar.navbar-expand-lg {
	padding: 15px 0 0 0 !important;
}

.bg-dark {
	background-color: #FFF !important;
	margin-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: #65aefd;
}

.navbar-nav>li>a {
	color: #65aefd;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0 15px;
}

.logo-image {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.logo-image img {
	max-width: 160px;
	height: auto;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #33a9ee;
}

.navbar-nav>li:hover>a {
	color: #33a9ee;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.navbar-expand-lg>.container {
	padding-left: 15px;
	padding-right: 15px;
}

.menu-pos-rel {
	position: relative;
}

.menu-pos-abs {
	background-color: #FFF;
	border-bottom: 1px solid #33a9ee;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
}

/*========================================== 3.NAVIGATION END ===========================================*/
/*========================================== 4.BUTTON START ===========================================*/

.btn.btn-1 {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	outline: none;
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all .5s ease-in-out;
}

.btn.btn-1 {
	background: #33a9ee;
	color: #ffffff;
}

.btn.btn-1:before,
.btn.btn-1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: #269ce1;
	/* onhover background color */
	z-index: -1;
	transform: translate3D(0, -100%, 0);
	/* move elements above button so they don't appear initially */
	-ms-transform: translate3D(0, -100%, 0);
	-webkit-transform: translate3D(0, -100%, 0);
	-moz-transform: translate3D(0, -100%, 0);
	-o-transform: translate3D(0, -100%, 0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.btn.btn-1:before {
	background: #33a9ee;
	/* button default background color */
	z-index: -2;
	transform: translate3D(0, 0, 0);
	-ms-transform: translate3D(0, 0, 0);
	-webkit-transform: translate3D(0, 0, 0);
	-moz-transform: translate3D(0, 0, 0);
	-o-transform: translate3D(0, 0, 0);
}

.btn.btn-1:hover span {
	color: #ffffff;
	z-index: 99999;
	position: relative;
}

.btn.btn-1:hover:after {
	transform: translate3D(0, 0, 0);
	-ms-transform: translate3D(0, 0, 0);
	-webkit-transform: translate3D(0, 0, 0);
	-moz-transform: translate3D(0, 0, 0);
	-o-transform: translate3D(0, 0, 0);
	-webkit-transition: all .5s;
	transition: all .5s;
	z-index: 1;
}

.btn-top-space {
	margin-top: 25px;
}

/* Back to top Button */
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 1px 2px 3px #000000;
	width: 50px;
	height: 50px;
	display: block;
	z-index: 99;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top i {
	color: #33a9ee;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(5, 169, 238, 0.8);
}

#return-to-top:hover i {
	color: #ffffff;
}

/*========================================== 4.BUTTON END ===========================================*/
/*========================================== 5.READ MORE LINK START ===========================================*/
.readmore {
	color: #33a9ee;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.readmore i {
	padding-left: 5px;
}

.readmore-top {
	padding-top: 10px;
}

.readmore:hover {
	color: #33a9ee;
}


/*========================================== 5.READ MORE LINK END ===========================================*/

/*========================================== 6.HEADER START ===========================================*/

/* Dentist Header */

/* HEADER SERVICES */

.list-img {
	float: left;
	width: 65px;
	vertical-align: middle;
}

/* Clinic Header */

/* Pregnancy Header */

/* Score  Area CSS */

.fun-facts-area {
	position: relative;
	background-image: url(../../images/fun-facts-bg.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	/* padding: 100px 0; */
}

.fun-facts-area::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #33a9ee;
	background: -webkit-linear-gradient(to right, #33a9ee, #00c6ff);
	background: linear-gradient(to right, #33a9ee, #00c6ff);
	opacity: 0.8;
	z-index: -1;
}

.fun-fact {
	text-align: center;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.fun-fact:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.fun-fact i {
	font-size: 40px;
	color: #fff;
}

.fun-fact h3 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 10px;
	line-height: 28px;
	margin-top: 30px;
}

.fun-fact span {
	font-size: 18px;
	color: #fff;
	display: block;
}

/* Yoga Slider Header */

.slider1-padding {
	padding-bottom: 170px;
	padding-top: 250px;
}

.slider-bgimage1 {
	background-image: url("../../images/slider-image-1.webp");
	background-size: cover;
	/* scales image to cover the element */
	background-position: center;
	/* centers the image */
	background-repeat: no-repeat;
	/* prevent tiling */
	width: 100%;
	min-height: 100vh;
	/* prevents shrinking below viewport */
	height: auto;
}

.slider-bgimage2 {
	background-image: url("../../images/slider-image-2.webp");
	background-size: cover;
	/* scales image to cover the element */
	background-position: center;
	/* centers the image */
	background-repeat: no-repeat;
	/* prevent tiling */
	width: 100%;
	min-height: 100vh;
	/* prevents shrinking below viewport */
	height: auto;
}

.slider-bgimage3 {
	background-image: url("../../images/slider-image-3.webp");
	background-size: cover;
	/* scales image to cover the element */
	background-position: center;
	/* centers the image */
	background-repeat: no-repeat;
	/* prevent tiling */
	width: 100%;
	min-height: 100vh;
	/* prevents shrinking below viewport */
	height: auto;
}

.slider-bgimage1 .header-div-1 h1 {
	color: #f2f2f2;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 45px;
	font-weight: 600;
	line-height: 55px;
	letter-spacing: 1px;
}

.slider-bgimage1 .header-div-1 .btn-1 {
	background-color: #33a9ee;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.slider-bgimage1 .header-div-1 .btn-1:focus,
.slider-bgimage1 .header-div-1 .btn-1:hover {
	color: #33a9ee;
	background-color: #ffffff;
	border-color: #33a9ee;
}

.slider-bgimage1 .header-content {
	color: #f3f3f3;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 24px;
	margin: 0 auto 30px auto;
	width: 100%;
}

.slider-bgimage2 .header-div-1 h1 {
	color: #f2f2f2;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 45px;
	font-weight: 600;
	line-height: 55px;
	letter-spacing: 1px;
}

.slider-bgimage2 .header-div-1 .btn-1 {
	background-color: #33a9ee;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.slider-bgimage2 .header-div-1 .btn-1:focus,
.slider-bgimage2 .header-div-1 .btn-1:hover {
	color: #33a9ee;
	background-color: #ffffff;
	border-color: #33a9ee;
}

.slider-bgimage2 {
	text-align: left;
}

.slider-bgimage2 .header-content {
	color: #f3f3f3;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 24px;
	margin-bottom: 30px;
	width: 100%;
}

.slider-bgimage3 .header-div-1 h1 {
	color: #f2f2f2;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 45px;
	font-weight: 600;
	line-height: 55px;
	letter-spacing: 1px;
}

.slider-bgimage3 .header-content {
	color: #f3f3f3;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 24px;
	margin-bottom: 30px;
	width: 100%;
}

.slider-bgimage3 .header-div-1 .btn-1 {
	background-color: #33a9ee;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.slider-bgimage3 .header-div-1 .btn-1:focus,
.slider-bgimage3 .header-div-1 .btn-1:hover {
	color: #33a9ee;
	background-color: #ffffff;
	border-color: #33a9ee;
}

/* Spa Header */

/* Appointment Form */


/*========================================== 6.HEADER END ===========================================*/

/*========================================== 7.SERVICES START ===========================================*/

/* Clinic Services */

/* Pregnancy Services */

.services-col-bottom {
	margin-bottom: 35px;
}


/* Yoga Services */

.services-col-3 {
	height: 100%;
	border: 2px solid #f6f6f6;
	padding: 60px 30px 30px 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.services-col3-img {
	border-radius: 50%;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.services-col3-img img {
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: 0;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.services-col-3:hover {
	border: 2px solid #33a9ee;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.services-col-3:hover .services-col3-img img {
	box-shadow: 0px 5px 5px #666666;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* Spa Services */

/*========================================== 7.SERVICES ENDS ===========================================*/

/*========================================== 8.ABOUT US START ===========================================*/

/* Dentist About Us */

/* Clinic Two Column */

/* Pregnancy About US */

/* Spa About Us */

/* Spa Two Column */

/*========================================== 8.ABOUT US ENDS ===========================================*/

/*========================================== 9.APPOINTMENT FORM START ===========================================*/

/* Appointment Form */

/* Pregnancy Subscribe Form */

/*========================================== 9.APPOINTMENT FORM ENDS ===========================================*/

/*========================================== 10.OUR FEATURES START ===========================================*/

/* Clinic Features */
.features-img {
	border: 1px solid #33a9ee;
}

/*========================================== 10.OUR FEATURES ENDS ===========================================*/

/*========================================== 11.WHAT WE DO START ===========================================*/


/* IMAGE COMPARISION */

/* Spa What we do */

/* Faq Column */

/*========================================== 11.WHAT WE DO ENDS ===========================================*/

/*========================================== 12.OUR GALLERY START ===========================================*/

.gallery-space {
	padding-bottom: 4px;
}

.gallery-pad {
	padding-left: 2px;
	padding-right: 2px;
}

.gallery-pad1 {
	padding-left: 0px;
	padding-right: 2px;
}

.gallery-pad2 {
	padding-left: 2px;
	padding-right: 0px;
}


/* GALLERY HOVER */

.gallery-inner {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

.gallery-inner .gallery-caption {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	padding: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.gallery-inner:hover .gallery-caption {
	opacity: 1;
}

.gallery-inner .gallery-caption:before {
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.5);
	outline-offset: 1px;
	position: absolute;
	width: 20%;
	height: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity: 0;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	-moz-outline-radius: 50% !important;

}

.gallery-inner:hover .gallery-caption:before {
	opacity: 1;
	height: 60px;
	width: 60px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	-moz-outline-radius: 50% !important;
}

.gallery-caption i {
	position: relative;
	margin-top: 0;
	margin-bottom: 1px;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 20px;
	font-weight: 400;
	padding: 18px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	-moz-outline-radius: 50% !important;
}

.gallery-caption i {
	color: #33a9ee;
}

.gallery-inner img {
	border-radius: 0px;
}

/*========================================== 12.OUR GALLERY END ===========================================*/

/*========================================== 13.CTA START ===========================================*/

/* Pregnancy Cta */

/* Yoga Cta */

.cta-bgimage2 {
	background-image: url("../../images/main-hall.webp");
}

.cta-bgimage2 .cta-padding2 {
	padding-bottom: 180px;
	padding-top: 180px;
}

.cta-bgimage2 .cta-div2 h1 {
	color: #f2f2f2;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 45px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 55px;
}

.cta-bgimage2 .cta-div2 h1 span {
	color: #33a9ee;
	font-size: 60px;
}

.cta-bgimage2 .cta-content {
	color: #f3f3f3;
	text-shadow:
		1px 1px 2px rgba(0, 0, 0, 0.5),
		/* subtle main shadow */
		0 0 5px rgba(0, 0, 0, 0.2);
	font-weight: 400;
	letter-spacing: 1px;
	margin: 15px 0 0;
}

/*========================================== 13.CTA END ===========================================*/

/*========================================== 14.WHY CHOOSE US START ===========================================*/

/* Pregnancy why choose us */

/* Faq Column */


/*========================================== 14.WHY CHOOSE US END ===========================================*/

/*========================================== 15.OUR TEAM START ===========================================*/

/* Clinic Team Section */


/* Pregnancy Team Section */


/* Yoga Team Section */

.team-col4-img {
	position: relative;
	overflow: hidden;
}

.team-col-4:hover .team-col4-icon,
.team-col4-icon,
.team-col-4:hover .team-col4-icon img,
.team-col-4:hover .team-col4-img img,
.team-col4-img img {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-col-4:hover .team-col4-img img {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.team-col4-icon {
	bottom: -32px;
	left: 0;
	position: absolute;
	right: 0;
}

.team-col-4:hover .team-col4-icon {
	bottom: 20px;
}

.team-col4-content {
	height: 100%;
	min-height: 25rem;
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	padding: 20px 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-col-4:hover .team-col4-content {
	border-bottom: 1px solid #33a9ee;
	border-left: 1px solid #33a9ee;
	border-right: 1px solid #33a9ee;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-icon-4 {
	margin-bottom: 0;
	margin-top: 0px;
}

.team-icon-4 li {
	list-style: none;
	display: inline-block;
	text-align: left;
	width: 40px;
}

.team-icon-4 li:last-child {
	width: 32px;
}


/* Spa Team Section */

.team-col-4:hover .team-col4-icon img {
	transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-o-transform: scale(1) !important;
}

/*========================================== 15.OUR TEAM ENDS ===========================================*/

/*========================================== 16.TESTIMONIAL START ===========================================*/

/* Clinic Testimonials */

/* Pregnancy Testimonials */


/* Yoga Testimonials */

.testimonial-div-4 {
	width: 100%;
	padding: 0px 20px 0 20px;
}

/* Scoped CSS for only #owl-demo5 */
#owl-demo5 .item img {
	width: 100%;
	height: 200px;
	/* Adjust as needed */
	object-fit: cover;
	border-radius: 10px;
}

/* Optional: spacing between slides */
#owl-demo5 .owl-stage-outer {
	padding: 0 5px;
}

/* #owl-demo5 .owl-pagination,
#owl-demo4 .owl-pagination {
	display: none;
	padding-top: 0px;
} */


/* Spa Testimonials */

/*========================================== 16.TESTIMONIAL END ===========================================*/

/*========================================== 17.NEWS START ===========================================*/

/* Dentist News Section */

/* Pregnancy News Section */

/* Spa News Section */


/*========================================== 17.NEWS END ===========================================*/

/*========================================== 18.OUR PRICING START ===========================================*/

/* Yoga Pricing */

/* Spa Pricing */

/*========================================== 18.OUR PRICING END ===========================================*/

/*========================================== 19.FOOTER START ===========================================*/

.footer-bg {
	background-color: #333333;
}

.footer-bg h5 {
	color: #eeeeee;
	margin-bottom: 15px;
}

.footer-bg ul li,
.footer-bg ul li a,
.footer-bg a,
.footer-bg p a,
.footer-bg p {
	color: #bbbbbb;
}

.left-pad {
	padding-left: 15px;
}

.posts-bottom {
	margin-bottom: 20px;
}

.distab {
	display: table;
}

.distab-cell-middle {
	display: table-cell;
	vertical-align: middle;
}

.footer-contact-left {
	padding-left: 15px;
}

.footer-contact-bottom-1 {
	margin-bottom: 15px;
}

.footer-br {
	border-bottom: 1px solid #555555;
	margin-top: 40px;
}

.footer-br-bottom {
	margin-bottom: 40px;
}

.footer-icon {
	margin: 20px auto 0;
}

.footer-icon li {
	list-style: none;
	display: inline-block;
}

.open-hrs p,
.footer-contact-col p,
.footer-services p,
.footer-copyright,
.footer-contact p {
	letter-spacing: 1px;
}

.footer-left-pad li {
	padding-left: 15px;
}

.footer-left-pad,
.footer-left-pad li:first-child {
	padding-left: 0;
}

.footer-open-time {
	font-weight: 600;
}

/*========================================== 19.FOOTER END ===========================================*/

/*========================================== 20.MEDIA QUERIES START ===========================================*/

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {

	/* Dentist Header Retina Image */

	/* Dentist About Us Retina Image */

	/* Dentist Services Retina Image */

	/* Clinic Header Retina Image */

	/* Clinic Appointment Form Retina Image */

	/* Pregnancy Header Retina Image */

	/* Pregnancy Cta Form Retina Image */

	/* Yoga Slider Header Retina Images */
	.slider-bgimage1 {
		background-image: url("../../images/slider-image-1@2x.webp");
	}

	.slider-bgimage2 {
		background-image: url("../../images/slider-image-2@2x.webp");
	}

	.slider-bgimage3 {
		background-image: url("../../images/slider-image-3@2x.webp");
	}

	/* Yoga Cta Form Retina Image */
	/* .cta-bgimage2 {
		background-image: url("../../images/1920x700x2@2x.jpg");
	} */

	/* Spa Header Retina Image */

	/* Spa About Us Retina Image */
}


@media only screen and (min-width: 250px) and (max-width: 767px) {
	#more-gallery-demo {
		max-height: 250.03px !important;
		width: 100%;
	}

	.container {
		max-width: 100%;
	}

	.navbar-nav>li>a {
		font-size: 13px;
	}

	.navbar-default .navbar-toggler {
		margin-bottom: 0px;
		margin-top: 0px;
		margin-right: 0;
	}

	.navbar-toggler {
		float: right !important;
	}

	.navbar-nav>li {
		padding-left: 1.3em;
		cursor: pointer;
	}

	.navbar-nav>li:hover a,
	.navbar-nav>li:hover:before {
		color: #33A9EE !important;
	}

	.navbar-nav>li:hover a {
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
	}

	.navbar-default .navbar-nav>li>a {
		display: inline-block;
	}

	.navbar-collapse {
		border: 0 !important;
		box-shadow: none !important;
	}

	.nav {
		display: inherit !important;
	}

	.navbar-nav>li {
		padding: 8px 0;
	}

	.gallery-pad,
	.gallery-pad2,
	.gallery-pad1 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 250px) and (max-width: 991px) {

	.navbar-collapse.collapse {
		overflow-y: scroll;
	}

	.navbar-default .navbar-toggler:focus,
	.navbar-default .navbar-toggler:hover {
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid #33A9EE !important;
	}

	.navbar-nav>li {
		padding: 8px 0;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 0;
		padding-right: 0;
	}

	.nav,
	.navbar-right.nav {
		padding-bottom: 0 !important;
	}

	.navbar-right.nav {
		position: relative;
	}

	.nav {
		float: none;
		display: table;
		width: 100%;
	}

	.navbar-dark .navbar-toggler,
	.navbar-toggler {
		font-size: inherit;
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid #999999 !important;
		padding: 0.6rem 0.75rem;
	}

	.navbar-header {
		position: absolute;
		right: 0;
		top: -57px;
	}

	.simple-menu-4 .navbar-nav.nav li a {
		color: #333333;
	}

	.simple-menu-4 .navbar-nav.nav {
		background-color: rgba(255, 255, 255, 0.99);
		padding-left: 15px;
	}

	.res-gal-space {
		padding-bottom: 4px;
	}

	.res-features-top,
	.res-top20 {
		margin-top: 20px;
	}

	.res-top30 {
		margin-top: 30px;
	}

	.res-pad-top30 {
		padding-top: 30px;
	}

	.res-mar-center {
		margin: 0 auto;
	}

	.res-services-col-top {
		margin-top: 70px;
	}

	.gallery-inner .gallery-caption {
		top: 44%;
	}
}

@media only screen and (min-width: 250px) and (max-width: 575px) {

	.services-col-3,
	.res-team-col {
		width: 360px;
		margin: 0 auto;
	}

	.res-services-col-top-1 {
		margin-top: 70px;
	}
}

@media only screen and (min-width: 250px) and (max-width: 480px) {

	.slider1-padding {
		padding-bottom: 150px;
		padding-top: 230px;
	}

	.cta-bgimage2 .cta-div2 h1 span {
		font-size: 50px;
	}

	.slider-bgimage3 .header-div-1 h1,
	.slider-bgimage2 .header-div-1 h1,
	.slider-bgimage1 .header-div-1 h1,
	.cta-bgimage2 .cta-div2 h1 {
		font-size: 40px;
		line-height: 50px;
	}

	h2 {
		font-size: 30px;
		line-height: 40px;
	}

	h3 {
		font-size: 25px;
		line-height: 35px;
	}

	h5 {
		font-size: 17px;
		line-height: 27px;
	}

	/* Who We Care Swaping image and content css */

	.gallery-inner .gallery-caption {
		top: 40%;
	}
}

@media only screen and (min-width: 250px) and (max-width: 414px) {

	.res-team-col {
		width: 100%;
		margin: 0 auto;
	}

	.gallery-inner .gallery-caption {
		top: 35%;
	}
}

@media only screen and (min-width: 250px) and (max-width: 384px) {

	.services-col-3 {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 250px) and (max-width: 360px) {
	.cta-bgimage2 .cta-div2 h1 span {
		font-size: 45px;
	}

	.slider-bgimage3 .header-div-1 h1,
	.slider-bgimage2 .header-div-1 h1,
	.slider-bgimage1 .header-div-1 h1,
	.cta-bgimage2 .cta-div2 h1 {
		font-size: 35px;
		line-height: 45px;
	}

	h2 {
		font-size: 28px;
		line-height: 38px;
	}

	h3 {
		font-size: 20px;
		line-height: 30px;
	}

	h5 {
		font-size: 16px;
		line-height: 26px;
	}

	.readmore-top {
		padding-top: 8px;
	}

	.slider1-padding {
		padding-bottom: 100px;
		padding-top: 180px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav>li>a {
		display: block;
		position: relative;
	}

	.navbar-nav {
		padding-bottom: 0;
	}

	.navbar-nav li:last-child a {
		padding-right: 0;
	}

	.collapse:not(.show) {
		display: none;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.res-top0 {
		margin-top: 0;
	}
}

/* SAFARI MENU ISSUES*/
@media only screen and (min-width: 992px) {

	/*safari Browser*/
	.valign-menu .navbar-collapse {
		float: right !important;
		display: block !important;
		line-height: 70px !important;
	}

	.valign-menu .menu {
		display: inline-block !important;
		vertical-align: middle !important;
	}

	#more-gallery-demo {
		max-height: 183.03px !important;
		width: 100%;
	}
}

/*========================================== 20.MEDIA QUERIES END ===========================================*/
#more-gallery-demo {
	height: 20rem;
	min-height: fit-content;
	width: 100%;
}

/* Scoped to .my-unique-carousel only */
.my-unique-carousel .item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

/* Optional: spacing between slides */
.my-unique-carousel .owl-stage-outer {
	padding: 0 5px;
}